<h1 class="h2">Dashboard</h1>
<div class="row my-4">
    <div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-0">
        <div class="card">
            <h5 class="card-header">EVENT</h5>
            <div class="card-body">
              <h5 class="card-title">จำนวนทั้งหมด : 12</h5>
            </div>
          </div>
    </div>
    <div class="col-12 col-md-6 mb-4 mb-lg-0 col-lg-3">
        <div class="card">
            <h5 class="card-header">MEMBERS</h5>
            <div class="card-body">
              <h5 class="card-title">มีทั้งหมด : </h5>
            </div>
          </div>
    </div>
    <div class="col-12 col-md-6 mb-4 mb-lg-0 col-lg-3">
        <div class="card">
            <h5 class="card-header">CANDIDATES</h5>
            <div class="card-body">
              <h5 class="card-title">มีทั้งหมด : </h5>
            </div>
          </div>
    </div>
</div>
<div class="row">
    <div class="col-12 col-xl-8 mb-4 mb-lg-0">
        <div class="card">
            <h5 class="card-header">รายงาน || ผลโหวต</h5>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">No.</th>
                            <th scope="col">Title</th>
                            <th scope="col">Open</th>
                            <th scope="col" >end</th>
                            <th scope="col">status</th>
                            <th scope="col">Report</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td>เลือกประธาน นร.</td>
                            <td>2023-10-01</td>
                            <td>2023-10-05</td>
                            <td><button class="btn btn-sm btn-success">Open</button></td>
                            <td><a href="ReportforAdmin" class="btn btn-sm btn-primary">View</a></td>
                          </tr>
                          <tr>
                            <th scope="row">2</th>
                            <td>เลือกประธาน นร.</td>
                            <td>2023-10-01</td>
                            <td>2023-10-05</td>
                            <td><button class="btn btn-sm btn-danger">Close</button></td>
                            <td><a href="ReportforAdmin" class="btn btn-sm btn-primary">View</a></td>
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td>เลือกประธาน นร.</td>
                            <td>2023-10-01</td>
                            <td>2023-10-05</td>
                            <td><button class="btn btn-sm btn-danger">Close</button></td>
                            <td><a href="#" class="btn btn-sm btn-primary">View</a></td>
                          </tr>
                          <tr>
                            <th scope="row">4</th>
                            <td>เลือกประธาน นร.</td>
                            <td>2023-10-01</td>
                            <td>2023-10-05</td>
                            <td><button class="btn btn-sm btn-danger">Close</button></td>
                            <td><a href="#" class="btn btn-sm btn-primary">View</a></td>
                          </tr>
                          <tr>
                            <th scope="row">5</th>
                            <td>เลือกประธาน นร.</td>
                            <td>2023-10-01</td>
                            <td>2023-10-05</td>
                            <td><button class="btn btn-sm btn-danger">Close</button></td>
                            <td><a href="#" class="btn btn-sm btn-primary">View</a></td>
                          </tr>
                          <tr>
                            <th scope="row">6</th>
                            <td>เลือกประธาน นร.</td>
                            <td>2023-10-01</td>
                            <td>2023-10-05</td>
                            <td><button class="btn btn-sm btn-danger">Close</button></td>
                            <td><a href="#" class="btn btn-sm btn-primary">View</a></td>
                          </tr>
                        </tbody>
                      </table>
                </div>
                <a href="adminReport" class="btn btn-block btn-light">View all</a>
            </div>
        </div>
    </div>
</div>