<div class="row">
    <div class="col">
        <h2>โหวตประธาน นร.</h2>
        <h5>รายละเอียด :</h5>
        <h5 class="text-primary">เปิดระบบ 00/00/0000 ถึง 00/00/0000</h5>
        <h5>สถานะ : <button type="button" class="btn btn-success">OPEN</button></h5>
    </div>
    <div class="col">
        <h5 class="card-header">ผู้สมัคร <a href="addcandidates" class="btn btn-sm btn-info text-white mb-2 ml-2"><i class='bx bx-plus'></i>ADD</a></h5>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>หมายเลข</th>
                    <th>IMG</th>
                    <th>ชื่อ</th>
                    <th>แนะนำตัวเบื้องต้น</th>
                    <th>แก้ไข</th>
                    <th>ลบ</th>
                </tr>
            </thead>
            <tbody>
                <!-- forEach from sql-->
                <tr>
                    <td>1001</td>
                    <td>รูปภาพผู้สมัคร</td>
                    <td>ชื่อผู้สมัคร</td>
                    <td>"........"</td>
                    <td><a href="editcandidates" class="btn btn-sm btn-warning text-white">แก้ไข</a></td>
                    <td><a href="#" class="btn btn-sm btn-danger"><i class='bx bx-trash-alt' ></i> ลบ</a></td>
                </tr>
                <tr>
                    <td>1002</td>
                    <td>รูปภาพผู้สมัคร</td>
                    <td>ชื่อผู้สมัคร</td>
                    <td>"........"</td>
                    <td><a href="editcandidates" class="btn btn-sm btn-warning text-white">แก้ไข</a></td>
                    <td><a href="#" class="btn btn-sm btn-danger"><i class='bx bx-trash-alt' ></i> ลบ</a></td>
                </tr>
                <tr>
                    <td>1003</td>
                    <td>รูปภาพผู้สมัคร</td>
                    <td>ชื่อผู้สมัคร</td>
                    <td>"........"</td>
                    <td><a href="editcandidates" class="btn btn-sm btn-warning text-white">แก้ไข</a></td>
                    <td><a href="#" class="btn btn-sm btn-danger"><i class='bx bx-trash-alt' ></i> ลบ</a></td>
                </tr>
                <tr>
                    <td>1004</td>
                    <td>รูปภาพผู้สมัคร</td>
                    <td>ชื่อผู้สมัคร</td>
                    <td>"........"</td>
                    <td><a href="editcandidates" class="btn btn-sm btn-warning text-white">แก้ไข</a></td>
                    <td><a href="#" class="btn btn-sm btn-danger"><i class='bx bx-trash-alt' ></i> ลบ</a></td>
                </tr>
            </tbody>
          </table>
    </div>
  </div>