  <h2>โหวตประธาน นร.</h2>
  <h5>รายละเอียด :</h5>
  <h5 class="text-primary">เปิดระบบ 00/00/0000 ถึง 00/00/0000</h5>
  <h5>สถานะ : <button type="button" class="btn btn-success">OPEN</button></h5>
  <table class="table table-striped">
    <thead>
        <tr>
            <th>หมายเลข</th>
            <th>IMG</th>
            <th width="700">ชื่อ</th>
            <th>คะแนนรวม</th>
        </tr>
    </thead>
    <tbody>
        <!-- forEach from sql-->
        <tr>
            <td>1001</td>
            <td>รูปภาพผู้สมัคร</td>
            <td><div>ชื่อผู้สมัคร</div>
                <div>"แนะนำ"</div>
            </td>
            <td>1</td>
        </tr>
        <tr>
            <td>1002</td>
            <td>รูปภาพผู้สมัคร</td>
            <td><div>ชื่อผู้สมัคร</div>
                <div>"แนะนำ"</div>
            </td>
            <td>3</td>
        </tr>
        <tr>
            <td>1003</td>
            <td>รูปภาพผู้สมัคร</td>
            <td><div>ชื่อผู้สมัคร</div>
                <div>"แนะนำ"</div>
            </td>
            <td>4</td>
        </tr>
        <tr>
            <td>1004</td>
            <td>รูปภาพผู้สมัคร</td>
            <td><div>ชื่อผู้สมัคร</div>
                <div>"แนะนำ"</div></td>
            <td>5</td>
        </tr>
    </tbody>
</table>