<div class="alert alert-success" role="alert">
    รายการเปิดโหวต/เลือกตั้ง Online
  </div>
  <table class="table table-striped">
    <thead>
        <tr>
            <th>หมายเลข</th>
            <th width="200">IMG</th>
            <th>ชื่อ</th>
            <th>แนะนำตัวเบื้องต้น</th>
            <th>เลือก</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let item of candidates">
            <td>{{item.c_id}}</td>
            <td> <img src="{{item.c_img}}" class="card-img-top" height="150" alt="..."></td>
            <td>{{item.c_name}}</td>
            <td>"{{item.c_intro}}"</td>
            <td><input type="radio"></td>
        </tr>
    </tbody>
  </table>

<h1 class="mt-3 text-right"><button class="btn btn-primary">บันทึกการโหวต</button></h1>